database_h2/type=javax.sql.DataSource
database_h2/driver=org.h2.Driver
database_h2/url=jdbc:h2:/tmp/database
database_h2/user=pentaho
database_h2/password=

dms_h2/type=javax.sql.DataSource 
dms_h2/driver=org.h2.Driver 
dms_h2/url=jdbc:h2:/tmp/database 
dms_h2/user=pentaho
dms_h2/password=

abc/type=javax.sql.DataSource
abc/driver=org.postgresql.Driver
abc/url=jdbc:postgresql://test1.example.com:5432/abc_pg
abc/user=pentaho
abc/password=pentaho


gst/type=javax.sql.DataSource
gst/driver=net.sourceforge.jtds.jdbc.Driver
gst/url=jdbc:jtds:sqlserver://test2.example.com:1433;databaseName=simulator
gst/user=pentaho
gst/password=pentaho

